.footer_text{
    text-align: center;
    padding-top: 1%;
    color: #777;
}

body{
    padding-top: 80px;
    padding-bottom: 80px;
}

.publication-icon{
    font-size: 50px;
}

.login-box{
    background-color: #4e5d6c;
    width: 35%;
    margin: auto;
    padding: 20px;
}

#login_error{
    text-align: center;
}

#login_error img{
    width: 50%;
    margin: auto;
}

.btn-toolbar a{
    margin-right: 5px;
    margin-bottom: 5px;
}

.title-center {
    text-align: center;
}

.details-film {
    color: #777;
    font-size: small;
}

.img-center {
    margin: 0 auto;
}

.espacio-bajo-5 {
    margin-bottom: 5%;
}
.text-justify {
    text-align: justify;
}
